/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 3rem 0 2rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.icon {
  width: 40px;
  height: 40px;
  margin: 0 0.5rem;
  object-fit: contain; /* This ensures the image is scaled properly */
}
